@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h2 class="error">Access Denied</h2>
<p>
    You do not have permission to access the requested page.
</p>
<p>
    If you believe you should have access to this resource, please contact your system administrator.
</p>
<p>
    <a asp-page="/Index" class="btn">Return to Home Page</a>
</p>